# System Files
.DS_Store
Thumbs.db
*.OSX

# IDEs & Editors
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Module 4 Data Pipeline
data/raw/
data/processed/
data/scripts/node_modules/
*.apkg
*.xml.gz
*.zip

# Build & Dependencies
target/
node_modules/
dist/
build/
*.log
*.class
*.jar
*.war
*.ear

# Environment variables
.env
.env.local

# Logs
logs/
*.log
